.header {
    align-items: center;
    padding: 72px 0;

    img {
        margin-right: 24px;
    }

    &-content {
        flex-direction: column;
    }

    p {
        font-size: 4em;
        color: $white;
    }

    h1 {
        font-size: 8em;
        color: $green;
        text-align: right;
    }

    .btn-white {
        background-color: $white;
        color: $black;
        align-self: end;

        &:hover {
            background-color: $dark-gray;
            color: $green;
        }
    }
}